@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
  /*  color:theme('colors.secondary');*/
    background-color: theme('colors.gray.100');
    cursor: default;
}
.btn-secondary {
    @apply text-white px-6 py-2 rounded-3xl cursor-pointer bg-transparent border-white border-2
}
.btn-primary {
    @apply text-white px-6 py-2 rounded-3xl cursor-pointer bg-secondary
}
.section-title{
    @apply text-3xl font-semibold
}
.footer{
    @apply text-gray-800 bg-gray-100
}